@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #00c2c2 0%, #d968d4 100%);
}

button {
  cursor: pointer;
}
